:root {
  --color-awit: #FFD700;
  --color-ronwin: #072d4f;
  --card-border-radius: 0.9rem;
  --font-primary: 'Plus Jakarta Sans', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #21d4fd;
}

.main__reviews {
  padding: 2rem;
  background: rgb(45,125,141);
  margin-top: -10px;
  color: #fff;
  text-align: center;
}

a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--color-awit);
  background-color: transparent;
}

.main__img--container {
  position: absolute;
  top: -9.4rem;
  left: 0;
  width: 100%;
  background: url(/images/blackmanfilter.png) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.ocean {
  height: 150px;
  width: 100%;
  position: absolute; /* Change to fixed to keep at bottom */
  bottom: -5.6rem;
  left: 0;
  background: #015871;
  z-index: -1;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -160px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: -1;
}

.wave:nth-of-type(2) {
  top: -125px;
  animation: wave 7s cubic-bezier(0.46, 0.65, 0.79, 0.55) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  z-index: -1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  height: 90vh;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
}

.main__content {
  width: 100%;
}

.main__content h1 {
  font-size: 4rem;
  background-size: 100%;
  color: #fff;
}

.main__content h2 {
  font-size: 1rem;
  margin-top: 10px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%; -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 350;
  color: #fff;
}

.main__btn {
  font-size: 1rem;
  background-color: var(--color-ronwin);
  padding: 20px 40px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff; /*get started text color*/
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color-awit);
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover::after {
  width: 100%;
  color: var(--color-ronwin);
}

.main__btn:hover a{
  color:var(--color-ronwin);
}

.main__purpose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main__purpose h2 {
  color: #fff;
}
.video_container {
    justify-content: flex-start;
    align-items: center;
    min-width: auto;
    padding: 250px 0 150px;
    overflow: hidden;
}
/* service section */
.exp_content {
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: rgb(45,125,141);
  background: linear-gradient(180deg, rgba(45, 125, 141, 0.849) 0%, rgba(7,45,79,1) 52%); 
  margin-top: -10px;
  color: #fff;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.experiencebg {
  background-color: rgba(76, 120, 146, 0.26);
  padding: 3% 0%;
  position: relative;
  background-position: center center;
  background-size: 100% auto;
  background-attachment: fixed;
  z-index: 0;

}
.experiencebg:before {
  content: '';
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.exp_main {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 22px
}
.exp_main h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5rem; 
    padding: 0 20px;
    box-sizing: border-box;
}
.head-bold {
  font-family: 'Zoho_Puvi_ExtraBold';
  color:var(--color-awit);
  font-size: 40px;
}
.exp-paragraph {
  font-size: 22px; 
  line-height: 0; 
  font-family: 'Zoho_Puvi_Regular';
}
ul.exp_block {
  display: flex;
  text-align: center;
  margin: 10px 0 0 0;
  list-style-type: none;
}
ul.exp_block li {
  flex: 0 0 33%;
  border-right: 1px solid #ccc; /* white line between spaces*/
}
ul.exp_block li.bdrnone { 
  border-right: none; /* end of white line */
}

/* review section */
.headingBlock {
    padding: px;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    display: flex;
    color: #e7e7e7; 
}
.review_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 50px; /*spacing between boxes */
  padding: 80px 90px 80px; 
  max-width: 2400px;
  margin: auto;
}
.review_block {
  background-color: white;
  border-radius: 50px;
  padding: 50px;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  outline: 2px solid #FFD700; /* Navy blue outline */
  outline-offset: 5px; /* Space between the border and the outline */
}
.block_top-wrap {
  margin-bottom: 10px; /* Reduce spacing between image and text */
}
.block-profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Circular profile picture */
  margin-bottom: 15px; /* Space below image */
  object-fit: cover;
}
.block_username {
  font-family: 'ZohoPuvi';
  font-weight: bold;
  font-size: 22px;
  color: #333;
  margin: 0px;
  
}
.block_text {
  font-size: 20px;
  flex-grow: 1;
  margin-top: 5px;
  line-height: 1.5; 
  text-align: justify;
  color: #333;
  font-family: 'Zoho_Puvi_Regular';
}

.customerstart {
  text-align: center;
  margin-top: 5rem;
  color: #fff;
}

.customerstart img {
  align-items: center;
  margin-bottom: -20rem;
  margin-top: -24rem;
}